<footer>

	<div class="container">
		Ferganova S.L., Armea s/n Nave, 15316 Coirós, A Coruña – España<br>
 		<i class="glyphicon glyphicon-earphone"></i> (+34) 622 88 44 41 | <strong>@</strong> <a href="mailto:info@cabinasfergasa.com">info@cabinasfergasa.com</a>
	</div>

</footer>
