<section id="productos">
    <div class="container">
        <h1 class="text-center">¿Qué fabricamos?</h1>

        <p class="lead text-muted">
            Disponemos de una amplia gama de productos, <strong>diseñados y fabricados a medida</strong> para satisfacer las necesidades de nuestros clientes.
        </p>


        <div class="row featurette">
          <div class="col-md-7">
            <%= image_tag "cabina.png", class: "featurette-image img-responsive" %>
          </div>
          <div class="col-md-5">
            <h2 class="featurette-heading">Cabinas de pintura. <span class="text-muted">Pintado y secado.</span></h2>
            <p class="lead">Nuestras Cabinas Horno de pintado y secado son altamente configurables y adaptables a su taller. Las diferentes opciones de potencia de las máquinas de impulsión y extracción de aire, alumbrado, construcción sobre fosa o con basamento y rampas, etc., nos llevarán a encontrar la mejor solución a implementar en sus instalaciones.</p>
          </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-5">
            <h2 class="featurette-heading">Zonas de preparación. <span class="text-muted">El complemento perfecto.</span></h2>
            <p class="lead">
              Nuestras Zonas de Preparación implementan un sistema de aspiración frontal, con plenum (opcionalmente translúcido), alumbrado y cerramiento con cortinas automáticas. Obtendrá un incremento de calidad en su trabajo, ofreciendo un mejor acabado en las tareas enmasillado y lijado. Así mismo, supondrá una reducción de los gastos de mantenimiento de su taller y una menor exposición a partículas nocivas.
            </p>
          </div>
          <div class="col-md-7">
            <%= image_tag "zona.png", class: "featurette-image img-responsive" %>
          </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <%= image_tag "box.png", class: "featurette-image img-responsive" %>
          </div>
          <div class="col-md-5">
            <h2 class="featurette-heading">Paint Box. <span class="text-muted">Laboratorio de pinturas.</span></h2>
            <p class="lead">
              El Paint Box es un habitáculo cerrado que permite realizar las tareas de mezcla de pinturas en condiciones óptimas. Incluye un sistema de iluminación y ventilación, con un extractor situado sobre el techo, que se activa al accionar el alumbrado, evitando la acumulación de gases.
            </p>
          </div>
        </div>
    </div>
</section>