<section id="nosotros">
    <div class="container">
        <h1 class=" text-center">Compromiso de calidad y servicio</h1>

        <p class="lead text-muted">
            <strong>Fergasa</strong> es una empresa especializada en el diseño y la fabricación de <strong>cabinas para lacado, pintado y secado de automóviles</strong>, <strong>zonas de preparación</strong>, <strong>cabinas de lacado de muebles</strong>, etc.
        </p>
        <p class="lead text-muted">
            El cumplimiento de nuestros compromisos de calidad y servicio es nuestro principal objetivo, lo que nos ha llevado a contar con la confianza y satisfacción de nuestros clientes y a implementar nuestras soluciones en <strong>más de diez países</strong> a lo largod de <strong>casi veinticinco años de trayectoria</strong>.
        </p>

        <div class="row text-center">
          <div class="col-sm-4">
            <div class="row icons"><span class="fa fa-graduation-cap"></span></div>
            <div class="row">
              <h3>Experiencia</h3>
              <p>
                Casi 25 años de actividad nos avalan.
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row icons"><span class="fa fa-cubes"></span></div>
            <div class="row">
              <h3>Calidad</h3>
              <p>
                Sólo usamos materiales de la más alta calidad en la fabricación de nuestros productos.
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row icons">
              <span class="fa fa-lightbulb-o"></span>
            </div>
            <div class="row">
              <h3>Soluciones</h3>
              <p>
                Buscamos la mejor solución para nuestros clientes y nos adaptamos a sus necesidades.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>